.field-feedback {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.2;
  margin-top: 4px;
}

.success {
  color: #0ea539;
}

.error {
  color: #ff0000;
}

.warning {
  color: #f3bb26; /* Amber color */
} 